@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    --cor-primaria:#0D0D0D;
    --cor-secundaria:#ECF23D;
    --cor-button1:#C9F235;
    --cor-button2:#6B71F2;
    --cor-button3:#514BF2;
    --color-p: #fff;
}
.logo-alura{
    display: flex;
    padding: 45px 10%;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor-primaria);
}
.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family:'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 48px;
    background-color: var(--cor-primaria);
    color: var(--color-p);
}
.texto::placeholder{
    color: var(--color-p);
    opacity: 50%;
}
.texto:focus, .texto:active{
    border: none;
    outline: none;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 78%;
    left: 12%;
    top: 80%;
}
.info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    font-family: 'Inter', sans-serif;
    color: var(--color-p);
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 78%;
    left: 12%;
    top: 82%;
    gap: 24px;
}
.btn-criptografar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--cor-button1);
    color: var(--color-primaria);
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: linear;
    border: none;
}
.btn-descriptografar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: var(--cor-button3);
    color: var(--color-p);
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: linear;
    border: none;
}
.copiar{
    align-items: center;
    justify-content: center;
    padding: 24px;
    width:  70%;
    height: 67px;
    background-color: var(--cor-primaria);
    color: var(--color-p);
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: linear;
    border: none;
}
.btn-criptografar:hover, .btn-descriptografar:hover{
    transform: translateY(-10px);    
}
.copiar:hover{
    transform: translateY(-10px);
}
.criptografado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 2%;
    background-color: var(--color-p);
    opacity: 90%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.700);
    border-radius: 30px;
}
.mensagem-encriptografada{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 2rem;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}
.mensagem-encriptografada h2{
    width: 60%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: center;
    color: var(--cor-primaria);
}
.mensagem-encriptografada p{
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    text-align: center; 
    color: var(--cor-primaria);
}
.criptografado img{
    position: absolute;
    width: 60%;
    height: 35%;
    top: 20%;
}
.cabecalho{
    margin: 0px;
    padding: 0px;
    position: absolute;
    left: 45%;
    bottom: 1%;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    color: var(--color-p);
}
/* Responsive Design */
@media(max-width: 425px){
    .container{
        position: relative;
        width: 101vw;
        height: 100vh;
        background-color: var(--cor-primaria);
}
    .logo-alura{
        display: none;
        visibility: hidden;
    }
    .decodificar{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
        background-color: var(--cor-primaria);
        color: var(--color-p);
    }
    .texto::placeholder{
        color: var(--cor-p);
        font-size: 1em;
        opacity: 50%;
    }
    .info{
        width: 85%;
        left: 5%;
        top: 65%;
    }
    .info p{
        font-size: 1rem;
        color: var(--color-p);
    }
    .buttons{
        top: 75%;
        gap: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }    
    .btn-criptografar, .btn-descriptografar{
        width: 100%;
        border-radius: 20px;
        border: none;
        height: 60px;
    }
    .btn-criptografar{
        background-color: var(--cor-button1);
        color: var(--color-p);
    }
    .btn-descriptografar{
        background-color: var(--cor-button2);
        color: var(--color-p);
    }
    .copiar{
        width: 50%;
        border-radius: 16px;
        border: none;
        height: 60px;
        background-color: var(--cor-button2);
        color: var(--color-p);
    }
    .criptografado{
        left: 0%;
        top: 100vh;
        background-color: var(--cor-primaria);
        width: 101vw;
        height: 300px;
        border-radius: 0;
    }
    .mensagem-encriptografada{
        top: 20px;
        gap: 1rem;
        border-radius: 20px;
    }
    .mensagem-encriptografada h2{
        color: var(--color-p);
        width: 100%;
    }
    .mensagem-encriptografada p{
        color: var(--color-p);
        width: 100%;
    }
    .criptografado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
    .cabecalho{
        display: flex;
        justify-content: center;
        margin: auto;
        position: fixed;
        margin: 0px;
        padding: 1px;
        left: 0%;
        width: 100%;
        bottom: 0px;
        font-family: Inter, sans-serif;
        font-size: 1rem;
        color: var(--color-p);
    }
    .social-media img{
        font-size: 1px;
        
    }
    .social-media{
        bottom: 0;
        width: 100%;
        display: flex;
    }
}

@media(max-width: 700px){
    .container{
        position: relative;
        width: 101vw;
        height: 100vh;
        background-color: var(--cor-primaria);
}
    .logo-alura{
        display: none;
        visibility: hidden;
    }
    .decodificar{
        width: 100%;
    }
    .texto{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
        background-color: var(--cor-primaria);
        color: var(--color-p);
    }
    .texto::placeholder{
        color: var(--cor-p);
        font-size: 1em;
        opacity: 50%;
    }
    .info{
        width: 85%;
        left: 5%;
        top: 65%;
    }
    .info p{
        font-size: 1rem;
        color: var(--color-p);
    }
    .buttons{
        top: 75%;
        gap: 16px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }    
    .btn-criptografar, .btn-descriptografar{
        width: 100%;
        border-radius: 20px;
        border: none;
        height: 60px;
    }
    .btn-criptografar{
        background-color: var(--cor-button1);
        color: var(--color-p);
    }
    .btn-descriptografar{
        background-color: var(--cor-button2);
        color: var(--color-p);
    }
    .copiar{
        width: 50%;
        border-radius: 16px;
        border: none;
        height: 60px;
        background-color: var(--cor-button2);
        color: var(--color-p);
    }
    .criptografado{
        left: 0%;
        top: 100vh;
        background-color: var(--cor-primaria);
        width: 101vw;
        height: 300px;
        border-radius: 0;
    }
    .mensagem-encriptografada{
        top: 20px;
        gap: 1rem;
        border-radius: 20px;
    }
    .mensagem-encriptografada h2{
        color: var(--color-p);
        width: 100%;
    }
    .mensagem-encriptografada p{
        color: var(--color-p);
        width: 100%;
    }
    .criptografado img{
        top: 0;
        display: none;
        visibility: hidden;
    }
    .cabecalho{
        display: flex;
        justify-content: center;
        margin: auto;
        position: fixed;
        margin: 0px;
        padding: 1px;
        left: 0%;
        width: 100%;
        bottom: 0px;
        font-family: Inter, sans-serif;
        font-size: 1rem;
        color: var(--color-p);
    }
    .social-media img{
        font-size: 1px;
        
    }
    .social-media{
        bottom: 0;
        width: 100%;
        display: flex;
    }
}
